
#namesection{
  display: inline-block;
}
.body1 {
  justify-content: left;
  align-items: center;
  background: #000;
  display: flex;
  height: 25px;
  padding: 0%;
  margin: 0%;
}
.progress1 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 18px;
  width: 600px;
  margin: 0%;
}
.progress-value1 {
  animation: load1 6s normal forwards;
  animation-timeline: scroll();
  box-shadow: 0px 2px 20px -5px #fff;
  border-radius: 100px;
  background: #7afc5d;
  height: 10px;
  width: 0;
}
.body2 {
  justify-content: left;
  align-items: center;
  background: #000;
  display: flex;
  height: 25px;
  padding: 0%;
  margin: 0%;
}
.progress2 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 18px;
  width: 600px;
  margin: 0%;
}
.progress-value2 {
  animation: load2 6s normal forwards;
  animation-timeline: scroll();
  box-shadow: 0px 2px 20px -5px #fff;
  border-radius: 100px;
  background: #53a3fe;
  height: 10px;
  width: 0;
}
.body3 {
  justify-content: left;
  align-items: center;
  background: #000;
  display: flex;
  height: 25px;
  padding: 0%;
  margin: 0%;
}
.progress3 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 18px;
  width: 600px;
  margin: 0%;
}
.progress-value3 {
  animation: load3 6s normal forwards;
  animation-timeline: scroll();
  box-shadow: 0px 2px 20px -5px #fff;
  border-radius: 100px;
  background: #d868fd;
  height: 10px;
  width: 0;
}
.body4 {
  justify-content: left;
  align-items: center;
  background: #000;
  display: flex;
  height: 25px;
  padding: 0%;
  margin: 0%;
}
.progress4 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 18px;
  width: 600px;
  margin: 0%;
}
.progress-value4 {
  animation: load4 6s normal forwards;
  animation-timeline: scroll();
  box-shadow: 0px 2px 20px -5px #fff;
  border-radius: 100px;
  background: #f1fe5e;
  height: 10px;
  width: 0;
}
.body5 {
  justify-content: left;
  align-items: center;
  background: #000;
  display: flex;
  height: 25px;
  padding: 0%;
  margin: 0%;
}
.progress5 {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 18px;
  width: 600px;
  margin: 0%;
}
.progress-value5 {
  animation: load5 6s normal forwards;
  animation-timeline: scroll();
  box-shadow: 0px 2px 20px -5px #fff;
  border-radius: 100px;
  background: #ff4a4a;
  height: 10px;
  width: 0;
}
@keyframes load1 {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes load2 {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes load3 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load4 {
  0% { width: 0; }
  100% { width: 40%; }
}
@keyframes load5 {
  0% { width: 0; }
  100% { width: 100%; }
}
#skill-name{
  margin-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  display: inline-block;
  margin-top: 20px;
}
.project1{
  display: flex;
  height: 140px;
  border-radius: 10px;
  width: 800px;
  background-color: rgba(255,255,255,0.1);
}
.project2{
  display: flex;
  height: 140px;
  border-radius: 10px;
  width: 800px;
  background-color: rgba(255,255,255,0.1);
}
.project3{
  display: flex;
  height: 140px;
  border-radius: 10px;
  width: 800px;
  background-color: rgba(255,255,255,0.1);
}
.project-img{
  height: 130px;
  margin: 5px;
  border-radius: 10px;
  opacity: 0.7;
  transition: margin 0.3s ease-in-out;
}
.project-img:hover{
  opacity: 1;
  margin-top: 0px;
}
.project-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 10px 10px 10px;

}
p{
  font-size: 15px;
}
.links{
  font-size: 20px;
  transition: font 0.3s ease-in-out;
  color: #f1fe5e;
}
.links:hover + .hide{
  color:rgb(255, 0, 0);
  font-size: 12px;
  margin-left: 20px;
  margin-top: 0;
  display: inline-block;
}
.hide{
  display: none;
  transition: display 0.3s ease-in-out;
}
.contact{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 110px;
}
#icon1{
  margin-top: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 3730px;
  left: 150px;
}
#icon2{
  height: 40px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 3790px;
  left: 150px;
}
#icon3{
  height: 30px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 3855px;
  left: 143px;
}
#icon4{
  height: 40px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 3910px;
  left: 133px;
}
#icon5{
  height: 40px;
  margin-top: 20px;
  display: flex;
  position: absolute;
  top: 3970px;
  left: 150px;
}